scikit-learn==1.1.3
# tensorflow==2.9.2
# tensorflow_hub==0.12.0
tensorflow_addons==0.11.2
# tensorboard==2.9.1
tensorboard_plugin_profile==2.8.0
pandas==1.0.5
spacy==3.4.2
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.4.1/en_core_web_lg-3.4.1-py3-none-any.whl
tensorflow-probability==0.10.1
gym==0.18.3
pillow==7.1.2
tensorboard==2.2.2
tensorboard-plugin-wit==1.6.0.post3
tensorboardx==2.1
tensorflow==2.2.0
tensorflow-datasets==4.1.0
tensorflow-estimator==2.2.0
tensorflow-hub==0.9.0
tensorflow-metadata==0.25.0
tensorflow-probability==0.10.1
tensorflowjs==2.7.0
numpy==1.19.5